<br />
<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Search Product</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="enter search phrase..."
  />
</div>

<div *ngIf="filterText" class="alert alert-success">
  {{ filterText }} searching...
</div>

<h5 *ngIf="dataLoaded == true" class="text-center">Products</h5>
<div style="overflow: auto; width: 100%; height: 350px">
  <table
    *ngIf="dataLoaded == true"
    class="table table-hover"
    style="width: 100%"
  >
    <thead>
      <tr>
        <th class="text-center">Id</th>
        <th>Product Name</th>
        <th>Category Id</th>
        <th>Unit of Price</th>
        <th>Price with VAT</th>
        <th class="text-right">Units In Stock</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products | filterPipe: filterText">
        <td class="text-center">{{ product.productID }}</td>
        <td>{{ product.productName | uppercase }}</td>
        <td>{{ product.categoryID }}</td>
        <td class="text-right">{{ product.unitPrice | currency }}</td>
        <!--   &euro; -->
        <td class="text-right">
          {{ product.unitPrice | vatAdded: 18 | currency }}
        </td>
        <td>{{ product.unitsInStock }}</td>
        <td class="td-actions text-right">
          <button
            (click)="addToCart(product)"
            type="button"
            rel="tooltip"
            class="btn btn-success btn-sm btn-icon"
          >
            Add to cart
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
